
body
{
    background-color: rgb(192, 226, 43);
    font-family: 'Libre Baskerville', serif;
}
#header
{
    background-color: #FFFFFF;
    width:100%;
    height: 5rem;
    display: flex;
    font-family: 'Libre Baskerville', serif;
}
ul{
    margin: 0%;
    padding: 0%;
}
#header ul{
    float: left;
 
}
#header ul li
{
    float:left;
list-style: none;
position: relative;
}
#header h3{
    padding:10px 20px; /*relleno arriba y abajo, y a izquierda derecha*/
    float:left;
    align-self: center;
}
#header ul li a{ /*aquí estoy llamando a la a de dentro de el elemnto <li>, que está dentro del elemento <ul>*/
    display: block;
    padding:0rem 3rem; /* 1 rem = 10 px*/
    line-height: 5rem;
    color:black;
    text-decoration:none; /*así quitamos la línea de subrayado del link*/
}
#header ul li ul{ 
    display: none;/* así hago que no se vean los subelementos del primer <li>*/
    position:absolute; /* así se queda centrado un <ul> debajo del otro*/
    background-color: #FFFFFF;/* porque sino al desplegarse el menú se ve con el mismo color que el body*/
    border:grey solid; /*borde del menu deplegable*/

}
#header ul li:hover ul{
    display: block;
}
#header ul li ul a{
    padding:1rem 2rem;
    white-space:nowrap;/* con esto ya no salta de línea el texto y queda en horizontal*/
    line-height: unset; /*para que no se le aplique el definido en #header ul li a */
}
#header ul li ul a:hover{
    background-color: greenyellow;
    border:grey 1px solid;
}
#header ul li ul li{
    width:100%;
}
.material-icons-outlined{
    color:black;
}